#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(81, 235, 70, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(81, 235, 70, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #51eb46;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #51eb46;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #51eb46;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}

h1, h2, h3 {
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
}

li {
	padding: 10px;
	list-style: none;
}

body {
    background-image: url("/img/crumpled_paper.png");
    padding-top: 65px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    font-family: 'Love Ya Like A Sister', cursive;
}
