h1 {
	padding-bottom: 75px;
}
img {
	display: block;
	width: 50%;
	position: center;
	margin: auto;
	float: left;
}

.btn-success {
	width: 75%;
	position: center;
	margin-left: 50px;
	margin-bottom: 50px;
}