h1 {
	padding-bottom: 75px;
}
img {
	display: block;
	width: 50%;
	position: center;
	margin: auto;
	border-radius: 15px;
}

#kermit {
	display: block;
	width: 50%;
	position: center;
	margin: auto;
	float: left;
	border-radius: 15px;
}

.btn-success {
	width: 100%;
	position: center;
	margin-left: 50px;
	margin-bottom: 50px;
}